
body{
    font-family: 'Montserrat', sans-serif;
  }

h1{
    text-align: center;
    z-index: 1;
}
.square{
      width: 30px;
      height: 30px;
      background-color: greenyellow;
      position: relative;
  }
.board{
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      background-color: aliceblue;
      position: absolute;
  }